@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var roles = (List<IdentityRole>)ViewData["roles"];
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}






    <form id="account" method="post" class="login100-form validate-form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="wrap-input100 validate-input m-b-26">
            <label asp-for="Input.Email" class="label-input100"></label>
            <input class="input100" asp-for="Input.Email" placeholder="Enter username">
        </div>
        <div class="wrap-input100 validate-input m-b-26">
            <label asp-for="Input.Password" class="label-input100"></label>
            <input class="input100" asp-for="Input.Password" placeholder="Enter Password">
        </div>
        <div class="wrap-input100 validate-input m-b-26">
            <label asp-for="Input.ConfirmPassword" class="label-input100"></label>
            <input class="input100" asp-for="Input.ConfirmPassword" placeholder="Enter Confirm Password">
        </div>
        <div class="wrap-input100 validate-input m-b-26">
            <label asp-for="Input.FullName" class="label-input100"></label>
            <input class="input100" asp-for="Input.FullName" placeholder="Enter FullName">
        </div>
        <div class="wrap-input100 validate-input m-b-26">
            <label asp-for="Input.Address" class="label-input100"></label>
            <input class="input100" asp-for="Input.Address" placeholder="Enter Address">
        </div>
        <div class="wrap-input100 validate-input m-b-26">
            <label asp-for="Input.City" class="label-input100"></label>
            <input class="input100" asp-for="Input.City" placeholder="Enter City">
        </div>
        <div class="wrap-input100 validate-input m-b-26">
            <label asp-for="Input.Country" class="label-input100"></label>
            <input class="input100" asp-for="Input.Country" placeholder="Enter Country">
        </div>
        <div class="wrap-input100 validate-input m-b-26">
            <label asp-for="Input.PhoneNumber" class="label-input100"></label>
            <input class="input100" asp-for="Input.PhoneNumber" placeholder="Enter Phone">
        </div>
        <div class="wrap-input100 validate-input m-b-26" asp-route-returnUrl="@Model.ReturnUrl">
            <label asp-for="Input.Name" class="label-input100"></label>
            <select asp-for="Input.Name" class="form-control" asp-items='new SelectList(roles, "Id", "Name")'></select>
        </div>
        <div class="flex-sb-m w-full p-b-30">
            <div>
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="txt1">
                    Back to Login
                </a>
            </div>
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Register
            </button>
        </div>
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
