<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeviceManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/solid.min.css" />
    <link rel="stylesheet" href="~/css/solid.min.css" />
</head>
<body class="body-change">
    <div class="cover">
        <!-- navbar -->
        <div class="navbar-myself">
            <div class="right-navbar">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">Equipment Management Store</a>
                </div>
            </div>
            <div class="left-navbar">
                <partial name="_LoginPartial" />
            </div>
        </div>
        <!-- sidebar -->
        <div class="sidebar">
            <a class="sub-sidebar" asp-controller="Home" asp-action="Index">Home</a>
            <a class="sub-sidebar" asp-controller="Items" asp-action="Index">Items</a>
        </div>
        <!-- -----body-------- -->
        <div class="content">
            <div class="content-detail">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
    @RenderSection("styles", false);
</body>
</html>
