@using Microsoft.AspNetCore.Identity
@inject SignInManager<DeviceManager.Data.Entities.User> SignInManager
@inject UserManager<DeviceManager.Data.Entities.User> UserManager


@if (SignInManager.IsSignedIn(User))
{
     <div class="logout">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </div>
     <div class="logout">
         <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "CustomerIndex", new { area = "" })">
             <button class="button-logout" type="submit">Logout</button>
         </form>
     </div>
}


