
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>It.Next - IT Service Responsive Html Theme</title>
    <!-- site icons -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Customer/animate.css" />
    <link rel="stylesheet" href="~/css/Customer/colors1.css" />
    <link rel="stylesheet" href="~/css/Customer/custom.css" />
    <link rel="stylesheet" href="~/css/Customer/responsive.css" />
    <link rel="stylesheet" href="~/css/Customer/style.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
</head>
<body id="default_theme" class="it_service">

    <header id="default_header" class="header_style_1">
        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->
                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li>
                                        <a class="active" href="it_home.html">Home</a>
                                        <ul>
                                            <li><a href="it_home.html">It Home Page</a></li>
                                            <li><a href="it_home_dark.html">It Dark Home Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="it_about.html">About Us</a></li>
                                    <li>
                                        <a href="it_service.html">Service</a>
                                        <ul>
                                            <li><a href="it_service_list.html">Services list</a></li>
                                            <li><a href="it_service_detail.html">Services Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="it_blog.html">Blog</a>
                                        <ul>
                                            <li><a href="it_blog.html">Blog List</a></li>
                                            <li><a href="it_blog_grid.html">Blog Grid</a></li>
                                            <li><a href="it_blog_detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="it_career.html">Career</a></li>
                                            <li><a href="it_price.html">Pricing</a></li>
                                            <li><a href="it_faq.html">Faq</a></li>
                                            <li><a href="it_privacy_policy.html">Privacy Policy</a></li>
                                            <li><a href="it_error.html">Error 404</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="it_shop.html">Shop</a>
                                        <ul>
                                            <li><a href="it_shop.html">Shop List</a></li>
                                            <li><a href="it_shop_detail.html">Shop Detail</a></li>
                                            <li><a href="it_cart.html">Shopping Cart</a></li>
                                            <li><a href="it_checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="it_contact.html">Contact</a>
                                        <ul>
                                            <li><a href="it_contact.html">Contact Page 1</a></li>
                                            <li><a href="it_contact_2.html">Contact Page 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->
    </header>
    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h2>Why Choose Us</h2>
                            <p class="large">Fastest repair service with best price!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="~/image/i1.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Data recovery</h4>
                        <p>Perspiciatis eos quos totam cum minima aut!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="~/image/i2.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Computer repair</h4>
                        <p>Perspiciatis eos quos totam cum minima aut!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="~/image/i3.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Mobile service</h4>
                        <p>Perspiciatis eos quos totam cum minima aut!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30 margin_0">
                        <div class="center">
                            <div class="icon"> <img src="~/image/i4.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Network solutions</h4>
                        <p>Perspiciatis eos quos totam cum minima aut!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1 light_silver gross_layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_left">
                            <h2>Service Process</h2>
                            <p class="large">Easy and effective way to get your device repaired.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si1.png" alt="#" /></div>
                                    <h4 class="service-heading">Fast service</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si2.png" alt="#" /></div>
                                    <h4 class="service-heading">Secure payments</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si3.png" alt="#" /></div>
                                    <h4 class="service-heading">Expert team</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si4.png" alt="#" /></div>
                                    <h4 class="service-heading">Affordable services</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si5.png" alt="#" /></div>
                                    <h4 class="service-heading">90 Days warranty</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si6.png" alt="#" /></div>
                                    <h4 class="service-heading">Award winning</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h2>Our Products</h2>
                            <p class="large">We package the products with best services to make you a happy customer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                    <div class="product_list">
                        <div class="product_img"> <img class="img-responsive" src="~/image/1.jpg" alt=""> </div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="it_shop_detail.html">Norton Internet Security</a></h4>
                            </div>
                            <div class="starratin">
                                <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                            </div>
                            <div class="product_price">
                                <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1 light_silver gross_layout right_gross_layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_right">
                            <h2>Our Feedback</h2>
                            <p class="large">Easy and effective way to get your device repaired.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row counter">
                <div class="col-md-4"> </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                            <div class="text_align_right"><i class="fa fa-smile-o"></i></div>
                            <div class="text_align_right">
                                <p class="counter-heading text_align_right">Happy Customers</p>
                            </div>
                            <h5 class="counter-count">2150</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                            <div class="text_align_right"><i class="fa fa-laptop"></i></div>
                            <div class="text_align_right">
                                <p class="counter-heading text_align_right">Laptop Repaired</p>
                            </div>
                            <h5 class="counter-count">1280</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                            <div class="text_align_right"><i class="fa fa-desktop"></i></div>
                            <div class="text_align_right">
                                <p class="counter-heading">Computer Repaired</p>
                            </div>
                            <h5 class="counter-count">848</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                            <div class="text_align_right"><i class="fa fa-windows"></i></div>
                            <div class="text_align_right">
                                <p class="counter-heading">OS Installed</p>
                            </div>
                            <h5 class="counter-count">450</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_left">
                            <h2>Latest from Our Blog</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="full blog_colum">
                        <div class="blog_feature_img"> <img src="~/image/post-03.jpg" alt="#" /> </div>
                        <div class="post_time">
                            <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
                        </div>
                        <div class="blog_feature_head">
                            <h4>Why Your Computer Hates You</h4>
                        </div>
                        <div class="blog_feature_cont">
                            <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full blog_colum">
                        <div class="blog_feature_img"> <img src="~/image/post-04.jpg" alt="#" /> </div>
                        <div class="post_time">
                            <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
                        </div>
                        <div class="blog_feature_head">
                            <h4>Easy Tips To Computer Repair</h4>
                        </div>
                        <div class="blog_feature_cont">
                            <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full blog_colum">
                        <div class="blog_feature_img"> <img src="~/image/post-06.jpg" alt="#" /> </div>
                        <div class="post_time">
                            <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
                        </div>
                        <div class="blog_feature_head">
                            <h4>Computer Maintenance 2018</h4>
                        </div>
                        <div class="blog_feature_cont">
                            <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

</body>
</html>

